
.team-grid-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 auto;
    height: auto; 
    background: #fff;
    padding-left: 150px;
    padding-right: 150px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    transition: background-image 0.3s ease-in-out;
  }
  
  .team-heading {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--primary-color)
  }
  
  .team-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 members per row */
    gap: 50px; /* Increased gap between the boxes */
    padding: 20px 0;
  }
  
  .team-member {
    background-color: #fff;
    border-radius: 10px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    text-align: center;
    padding: 20px; /* Increased padding */
    transition: transform 0.2s;
  }
  
  .team-member:hover {
    transform: translateY(-5px); /* Slight lift on hover */
  }
  
  .team-member img {
    width: 150px;
    height: 150px; /* Consistent image size */
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 0%;
    margin-bottom: 10px;
  }
  
  .team-member h3 {
    font-size: 1rem;
    margin-bottom: 5px;
    color: var(--primary-color);
  }
  
  .team-member p {
    font-size: 0.9rem;
    color: var(--primary-color);
  }
  
  /* .team-member-linkedin {
    background-color: #007bff;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    font-size: 0.8rem;
    margin-top: 10px;
  }
  
  .team-member-linkedin:hover {
    background-color: #0056b3;
  }
   */


  /* Responsive Design */
  @media (max-width: 992px) {
    .team-grid {
      grid-template-columns: repeat(2, 1fr); /* 2 members per row on medium screens */
    }
  }
  
  @media (max-width: 576px) {
    .team-grid {
      grid-template-columns: 1fr; /* 1 member per row on small screens */
    }
    .team-member {
      padding: 10px; /* Reduced padding */
    }
  }
  