.container {
    width: 100%;
    background: transparent;
    color: #fff;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    transition: background-color 0.3s ease;
}

.scrolled {
    background:rgba(69,34,22,.7);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);

}

.logo {
    height: 50px;
    width: 50px;
    margin-right: 12px;
    border-radius: 100%;
}

.site-name {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: rgb(253, 226, 183);
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    position: relative;
    overflow: hidden;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 16px;
    transition: color 0.3s ease, transform 0.3s ease;
    border-radius: 4px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fdebcd;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.nav-links a:hover::before,
.nav-links a.active::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav-links a:hover {
    color: #fdebcd;
    background-color: rgba(253, 226, 183, 0.2);
    transform: translateY(-2px);
    border-radius: 4px;
}

.nav-links a.active {
    color: #fdebcd;
    font-weight: bold;
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-icon .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
    transition: transform 0.4s, opacity 0.4s;
}

.menu-icon.open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.menu-icon.open .bar:nth-child(2) {
    opacity: 0;
}

.menu-icon.open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

.sidebar {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background-color: #452216;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    padding: 20px;
    overflow-y: auto;
}

.sidebar.active {
    transform: translateX(0);
    background:rgba(69,34,22,.5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
}

.sidebar-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sidebar-links li {
    margin: 20px 0;
    width: 100%;
}

.sidebar-links a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    width: 100%;
}

.sidebar-links a:hover {
    color: #452216;
    background-color: #fdebcd;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 50;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.overlay.active {
    display: block;
    opacity: 1;
}

/* Responsive */
@media (max-width: 768px) {
    .menu-icon {
        display: flex;
    }

    .nav-links {
        display: none;
    }

    .sidebar {
        display: block;
    }
}
